.floating1 {
  animation: infinite float 2s ease;
}
.floating2 {
  animation: infinite float2 2s ease;
  // animation-delay: 500ms;
}
@keyframes float {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 5px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes float2 {
  0% {
    translate: 0 5px;
  }
  50% {
    translate: 0 0;
  }
  100% {
    translate: 0 5px;
  }
}
